*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#0b1120;
color:white;
}

html{
scroll-behavior:smooth;
}

.navbar{

display:flex;

justify-content:space-between;

padding:20px 10%;

background:#111827;

position:sticky;

top:0;

z-index:100;

}

.logo{
font-size:28px;
font-weight:700;
}

.nav-links{

display:flex;

gap:30px;

list-style:none;

}

a{

color:white;

text-decoration:none;

}

.menu-btn{

display:none;

font-size:28px;

cursor:pointer;

}

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

background:

linear-gradient(
rgba(0,0,0,.7),
rgba(0,0,0,.8)
),

url(
'https://images.unsplash.com/photo-1485827404703-89b55fcc595e'
);

background-size:cover;

}

.hero h1{

font-size:70px;

}

.hero p{

margin:20px;

font-size:20px;

}

.btn{

display:inline-block;

padding:15px 40px;

background:#2563eb;

border-radius:10px;

}

.stats{

display:grid;

grid-template-columns:

repeat(3,1fr);

padding:80px;

text-align:center;

background:#111827;

}

.counter{

font-size:60px;

}

.services,
.projects,
#contact{

padding:100px 10%;

}

.cards{

display:grid;

grid-template-columns:

repeat(
auto-fit,
minmax(
250px,
1fr
)
);

gap:30px;

margin-top:50px;

}

.card{

padding:40px;

background:#1e293b;

border-radius:15px;

transition:.3s;

}

.card:hover{

transform:

translateY(-10px);

}

form{

display:flex;

flex-direction:column;

gap:20px;

max-width:700px;

margin:auto;

}

input,
textarea{

padding:18px;

border:none;

border-radius:10px;

}

button{

padding:18px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

footer{

padding:30px;

text-align:center;

background:#111827;

}

@media(max-width:768px){

.hero h1{

font-size:40px;

}

.stats{

grid-template-columns:1fr;

}

.nav-links{

display:none;

}

.menu-btn{

display:block;

}

.nav-links.active{

display:flex;

flex-direction:column;

}

}